$color: (
  light: #fff,
  dark: #000,
  accent: #222,
  bg: #444,
);
/*======== reset.css ========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*======== style.css ========*/
input[type="email"] {
  width: 250px;
  height: 30px;
  padding-left: 30px;
}
input[type="button"] {
  width: 50px;
  height: 30px;

  background: #eee;
  border: 1px solid #ccc;
}
