@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.warp {
  margin-top: 5%;
}
.warp h2 {
  text-align: center;
  margin-bottom: 15%;
  color: blueviolet;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.warp #formstyle input {
  border: none;
  border-bottom: 1px solid #ccc;
}
.warp #formstyle input:focus {
  outline: none;
}
.warp #btn {
  width: 80px;
  padding: 10px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  background: blueviolet;
  color: #fff;
  margin-left: 20px;
  cursor: pointer;
}
.warp #btn:hover {
  color: #8a2be2;
  background: #fff;
  box-shadow: 0 0 8px rgba(138, 43, 226, 0.5);
  font-weight: bold;
}

#result {
  border: 1px solid blueviolet;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
}