:root {
  --main-light-color: #fff;
  --main-dark-color: #000;
  --main-font-color: #ddd;
  --orbitron-font-style: "Orbitron", serif;
  --obr-main-color: #ccc;
  --light-s-color: aqua;
  --accent-icon-color: #e0ffff;
  --accent-font-color: #00ffff;
}
