* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* 16 * 0.625 font = 10px에서 시작을 한다.  1.2rem  곱하기 배수 이다 12px 1.8rem  // 설정을 미리 해 놓으면 이렇게 편리하게 곱을해서 값을 쓸수 있다. */
  font-size: 62.5%;
}
body {
  width: 100%;
  color: #fff;
  height: 100vh;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://media.istockphoto.com/id/1334436084/photo/top-down-view-of-colorful-illuminated-gaming-accessories-laying-on-table.jpg?s=612x612&w=0&k=20&c=E9xnbAZoBS5LlUX0q-zxT_3m6gEZpyB2k51_U4LLMNs=")
    center/cover no-repeat;

  &::before {
    content: "1";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}

#wrapper {
  position: absolute;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  background: hsla(278, 100%, 60%, 0.902);
  width: 400px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .block {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .buttons {
    display: flex;
    gap: 14px;
    margin: 20px 0;

    button {
      flex: 1;
      height: 40px;
      border: none;
      border-radius: 14px;
      font-size: 1.6rem;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      color: #fff;
      opacity: 0.8;
      cursor: pointer;
      transition: opacity 0.3s;

      &.red {
        background: crimson;
      }
      &.blue {
        background: dodgerblue;
      }
      &.green {
        background: yellowgreen;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .result {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
}
